extends ../layout

block content
    .row
        .col
            h1 Tasks
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
    ul.nav.nav-tabs.mb-3
        li.nav-item
            a.nav-link.active(href="/tasks/list") All
        li.nav-item
            a.nav-link(href="/tasks/assigned") Assigned
    table#task-list-table
        thead
            tr
                th ID
                th Name
                th Assigned To
                th Created At
                th Actions
        tbody
            each row in tasks
                tr
                    td
                        span= row.Project.TaskPrefix
                        span -
                        span= row.TaskNumber
                    td= row.Name
                    td
                        if row.AssignedTo
                            span= row.AssignedTo.Username
                        else
                            span Unassigned
                    td= row.CreatedAt
                    td
                        a(href="/tasks/view/" + row.Project.TaskPrefix + "-" + row.TaskNumber).btn.text-primary
                            i.fas.fa-eye
                            span.ms-1 View

block scripts
    script(src='/js/task-list.js')
