extends ../layout

block content
    a(href="/projects/view/" + task.Project.Id + "/tasks").btn.text-primary
        i.fas.fa-chevron-circle-left
        span.ms-1 Back to Project
    .row
        .col
            span.text-secondary
                span= task.Project.TaskPrefix
                span -
                span= task.TaskNumber
            h1= task.Name
            if task.Archived
                .badge.rounded-pill.bg-warning.mb-3.me-1
                    i.fas.fa-archive
                    span.ms-1 Archived
            if task.Done
                .badge.round-pill.bg-success.mb-3.me-1
                    i.fas.fa-check-circle
                    span.ms-1 Done
            else
                .badge.round-pill.bg-secondary.mb-3.me-1
                    i.far.fa-circle
                    span.ms-1 Incomplete
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                if canAssignTask
                    button(data-bs-toggle='modal' data-bs-target='#assign-task-modal').btn.text-secondary
                        i.fas.fa-user-plus
                        span.ms-1 Assign
                if canEditTask
                    button(data-bs-toggle='modal' data-bs-target='#edit-task-modal').btn.text-primary
                        i.fas.fa-edit
                        span.ms-1 Edit
    .row
        .col-4
            .card
                .card-header Details
                .card-body
                    .mb-2
                        p.mb-0.text-secondary Description
                        p= task.Description
                    .mb-2
                        p.mb-0.text-secondary Created By
                        p= task.CreatedBy.Username
                    .mb-2
                        p.mb-0.text-secondary Assigned To
                        if task.AssignedTo
                            p= task.AssignedTo.Username
                        else
                            p Unassigned    
                    .mb-2
                        p.mb-0.text-secondary Created At
                        p= task.CreatedAt
    if canEditTask
        form(method='POST' action='/tasks/edit').modal.fade#edit-task-modal
            .modal-dialog.modal-dialog-scrollable
                .modal-content
                    .modal-header
                        h5.modal-title Edit Task
                        button(type='button' data-bs-dismiss='modal').btn-close
                    .modal-body
                        .form-group
                            input(type='hidden' name='taskString' value=task.Project.TaskPrefix + '-' + task.TaskNumber).form-control
                        .form-group.mb-3
                            label Name
                            input(type='text' name='name' value=task.Name).form-control
                        .form-group.mb-3
                            label Description
                            input(type='text' name='description' value=task.Description).form-control
                        .form-group.text-center
                            button(type='submit').btn.text-primary
                                i.fas.fa-check-square
                                span.ms-1 Edit
    if canAssignTask
        form(method='POST' action='/tasks/assign/assign').modal.fade#assign-task-modal
            .modal-dialog.modal-dialog-scrollable
                .modal-content
                    .modal-header
                        h5.modal-title Assign Task To User
                        button(type='button' data-bs-dismiss='modal').btn-close
                    .modal-body
                        .form-group
                            input(type='hidden' name='taskString' value=task.Project.TaskPrefix + '-' + task.TaskNumber).form-control
                        .form-group.mb-3
                            label User
                            select(name='userId').form-control
                                option(value='{UNASSIGN}') Unassigned
                                each row in task.Project.ProjectUsers
                                    if (task.AssignedTo)
                                        if (task.AssignedTo.Id == row.User.Id)
                                            option(value=row.User.Id selected)=row.User.Username
                                        else
                                            option(value=row.User.Id)=row.User.Username
                                    else
                                        option(value=row.User.Id)=row.User.Username
                        .form-group.text-center
                            button(type='submit').btn.text-primary
                                i.fas.fa-check-square
                                span.ms-1 Submit