extends ../layout

block content
    a(href="/projects/list").btn.text-primary
        i.fas.fa-chevron-circle-left
        span.ms-1 Back to Listing
    .row
        .col
            h1#view-project-name= project.Name
            if project.archived
                .badge.rounded-pill.bg-warning.mb-3.me-1
                    i.fas.fa-archive
                    span.ms-1 Archived
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                if canCreateTask
                    button(data-bs-toggle='modal' data-bs-target='#create-task-modal').btn.text-secondary
                        span New Task
                button(data-bs-toggle='modal' data-bs-target='#edit-project-modal').btn.text-primary
                    i.fas.fa-edit
                    span.ms-1 Edit
    ul.nav.nav-tabs.mb-3
        li.nav-item
            a.nav-link(href="/projects/view/" + project.Id) Details
        li.nav-item
            a.nav-link.active(href="/projects/view/" + project.Id + "/tasks") Tasks
    table#task-list-table
        thead
            tr
                th ID
                th Name
                th Assigned To
                th Created At
                th Actions
        tbody
            each row in tasks
                tr
                    td
                        span= project.TaskPrefix
                        span -
                        span= row.TaskNumber
                    td= row.Name
                    td
                        if row.AssignedTo
                            span= row.AssignedTo.Username
                        else
                            span Unassigned
                    td= row.CreatedAt
                    td
    form(method='POST' action='/projects/edit').modal.fade#edit-project-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Edit Project
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group
                        input(type='hidden' name='projectId' value=project.Id).form-control
                    .form-group.mb-3
                        label Project Name
                        input(type='text' name='name' value=project.Name).form-control
                    .form-group.mb-3
                        label Description
                        input(type='text' name='description' value=project.Description).form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Edit
    if canCreateTask
        form(method='POST' action='/tasks/new').modal.fade#create-task-modal
            .modal-dialog.modal-dialog-scrollable
                .modal-content
                    .modal-header
                        h5.modal-title New Task
                        button(type='button' data-bs-dismiss='modal').btn-close
                    .modal-body
                        .form-group
                            input(type='hidden' name='projectId' value=project.Id).form-control
                        .form-group.mb-3
                            span= project.TaskPrefix
                            span -
                            span= project.NextTask
                        .form-group.mb-3
                            label Task Name
                            input(type='text' name='name').form-control
                        .form-group.mb-3
                            label Description
                            input(type='text' name='description').form-control 
                        .form-group.text-center
                            button(type='submit').btn.text-primary
                                i.fas.fa-check-square
                                span.ms-1 Submit
block scripts
    script(src='/js/project-tasks.js')
