extends ../layout

block content
    a(href="/projects/list").btn.text-primary
        i.fas.fa-chevron-circle-left
        span.ms-1 Back to Listing
    .row
        .col
            h1#view-project-name= project.Name
            if project.Archived
                .badge.rounded-pill.bg-warning.mb-3.me-1
                    i.fas.fa-archive
                    span.ms-1 Archived
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                if canCreateTask
                    button(data-bs-toggle='modal' data-bs-target='#create-task-modal').btn.text-secondary
                        span New Task
                if canEditProject
                    a(href='/projects/settings/general/' + project.Id).btn.text-primary
                        i.fas.fa-cog
                        span.ms-1 Settings
    ul.nav.nav-tabs.mb-3
        li.nav-item
            a.nav-link.active(href="/projects/view/" + project.Id) Details
        li.nav-item
            a.nav-link(href="/projects/view/" + project.Id + "/tasks") Tasks
    .row
        .col-4
            .card
                .card-header Details
                .card-body
                    .mb-2
                        p.mb-0.text-secondary Description
                        p#view-project-description= project.Description
                    .mb-2
                        p.mb-0.text-secondary Created By
                        p= project.CreatedBy.Username
                    .mb-2
                        p.mb-0.text-secondary Created At
                        p= project.CreatedAt
    if canCreateTask
        form(method='POST' action='/tasks/new').modal.fade#create-task-modal
            .modal-dialog.modal-dialog-scrollable
                .modal-content
                    .modal-header
                        h5.modal-title New Task
                        button(type='button' data-bs-dismiss='modal').btn-close
                    .modal-body
                        .form-group
                            input(type='hidden' name='projectId' value=project.Id).form-control
                        .form-group.mb-3
                            span= project.TaskPrefix
                            span -
                            span= project.NextTask
                        .form-group.mb-3
                            label Task Name
                            input(type='text' name='name').form-control
                        .form-group.mb-3
                            label Description
                            input(type='text' name='description').form-control 
                        .form-group.text-center
                            button(type='submit').btn.text-primary
                                i.fas.fa-check-square
                                span.ms-1 Submit
