extends ../layout

block content
    a(href="/projects/list").btn.text-primary
        i.fas.fa-chevron-circle-left
        span.ms-1 Back to Listing
    .row
        .col
            h1#view-project-name= project.Name
            if project.archived
                .badge.rounded-pill.bg-warning.mb-3.me-1
                    i.fas.fa-archive
                    span.ms-1 Archived
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                button(data-bs-toggle='modal' data-bs-target='#edit-project-modal').btn.text-primary
                    i.fas.fa-edit
                    span.ms-1 Edit
    .row
        .col-4
            .card
                .card-header Details
                .card-body
                    .mb-2
                        p.mb-0.text-secondary Description
                        p#view-project-description= project.Description
                    .mb-2
                        p.mb-0.text-secondary Created By
                        p= project.CreatedBy.Username
                    .mb-2
                        p.mb-0.text-secondary Created At
                        p= project.CreatedAt
        .col-8
            .card
                .card-header Assigned Users
                .card-body
                    .d-grid.gap-2.d-md-flex.justify-content-md-end
                        a(href="/projects/assign/assign/" + project.Id).btn.text-primary.mb-3
                            i.fas.fa-user-plus
                            span.ms-1 Assign User
                    table#assigned-users-table
                        thead
                            tr
                                th Name
                                th Actions
                        tbody
                            each row in project.ProjectUsers
                                tr
                                    td
                                        span= row.User.Username
                                        if row.Role == 1
                                            .badge.rounded-pill.bg-primary.mb-3.ms-1
                                                i.fas.fa-shield-alt
                                                span.ms-1 Admin
                                    td
                                        a(href="/projects/assign/unassign/" + project.Id + "/" + row.User.Id).btn.text-primary
                                            i.fas.fa-user-slash
                                            span.ms-1 Unassign
                                        a(href="/projects/assign/update/" + project.Id + "/" + row.User.Id).btn.text-primary
                                            i.fas.fa-user-edit
                                            span.ms-1 Update
    form(method='POST' action='/projects/edit').modal.fade#edit-project-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Edit Project
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group
                        input(type='hidden' name='projectId' value=project.Id).form-control
                    .form-group.mb-3
                        label Project Name
                        input(type='text' name='name' value=project.Name).form-control
                    .form-group.mb-3
                        label Description
                        input(type='text' name='description' value=project.Description).form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Edit

block scripts
    script(src='/js/project-view.js')
