extends ../layout

block content
    .row
        .col
            a(href="/projects/list").btn.text-primary
                i.fas.fa-chevron-circle-left
                span.ms-1 Back to Listing
            h1= project.name
            if project.archived
                .badge.rounded-pill.bg-warning.mb-3.me-1
                    i.fas.fa-archive
                    span.ms-1 Archived
    .row
        .col-4
            .card
                .card-header Details
                .card-body
                    .mb-2
                        p.mb-0.text-secondary Description
                        p= project.description
                    .mb-2
                        p.mb-0.text-secondary Created By
                        p= project.createdByName
                    .mb-2
                        p.mb-0.text-secondary Created At
                        p= project.createdAt
        .col-8
            .card
                .card-header Assigned Users
                .card-body
                    .d-grid.gap-2.d-md-flex.justify-content-md-end
                        a(href="/projects/assign/#{project.projectId}").btn.text-primary.mb-3
                            i.fas.fa-user-plus
                            span.ms-1 Assign User
                    table#assigned-users-table
                        thead
                            tr
                                th Name
                        tbody
                            each row in projectUsers
                                tr
                                    td
                                        span= row.userName
                                        if row.role = 1
                                            .badge.rounded-pill.bg-primary.mb-3.ms-1
                                                i.fas.fa-shield-alt
                                                span.ms-1 Admin
    form(method='POST' action='/projects/assign-user').modal.fade#assign-user-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Assign User
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group
                        input(type='hidden' name='projectId' value=project.projectId)
                    .form-group.mb-3
                        label Username
                        input(type='text' name='username').form-control.mb-2#assigned-username-input
                        button(type='button').btn.btn-primary#find-user-button.me-2 Find User
                        button(type='button').btn.btn-secondary#clear-user-button Clear
                    .form-group.mb-3
                        .card
                            .card-header User to Assign
                            .card-body
                                span#assign-username-span Please search for a user...
                                span#assign-email-span
                    .form-group.text-center
                        button(type='submit').btn.text-primary#assign-user-submit
                            i.fas.fa-check-square
                            span.ms-1 Create

block scripts
    script(src='/js/project-view.js')