extends ../layout

block content
    .row
        .col
            a(href="/projects/list").btn.text-primary
                i.fas.fa-chevron-circle-left
                span.ms-1 Back to Listing
            h1= project.name
            if project.archived
                .badge.rounded-pill.bg-warning.mb-3.me-1
                    i.fas.fa-archive
                    span.ms-1 Archived
    .row
        .col-4
            .card
                .card-header Details
                .card-body
                    .mb-2
                        p.mb-0.text-secondary Description
                        p= project.description
                    .mb-2
                        p.mb-0.text-secondary Created By
                        p= project.createdByName
                    .mb-2
                        p.mb-0.text-secondary Created At
                        p= project.createdAt
        .col-8
            .card
                .card-header Assigned Users
                .card-body
                    .d-grid.gap-2.d-md-flex.justify-content-md-end
                        a(href="/projects/assign/assign/" + project.projectId).btn.text-primary.mb-3
                            i.fas.fa-user-plus
                            span.ms-1 Assign User
                    table#assigned-users-table
                        thead
                            tr
                                th Name
                                th Actions
                        tbody
                            each row in projectUsers
                                if (row.userName)
                                    tr
                                        td
                                            span= row.userName
                                            if row.isAdmin
                                                .badge.rounded-pill.bg-primary.mb-3.ms-1
                                                    i.fas.fa-shield-alt
                                                    span.ms-1 Admin
                                        td
                                            a(href="/projects/assign/unassign/" + project.projectId + "/" + row.userId).btn.text-primary
                                                i.fas.fa-user-slash
                                                span.ms-1 Unassign
                                            a(href="/projects/assign/update/" + project.projectId + "/" + row.userId).btn.text-primary
                                                i.fas.fa-user-edit
                                                span.ms-1 Update

block scripts
    script(src='/js/project-view.js')
